@{var _ = new WYJWeb.Models.Role();}

<div class="fitem_auto padding" id="Root">
    <div v-show="msg" class="msgbox_alert">{{msg}}</div>
    <div v-show="active">
        <buttonlist :hook="hooks[0]" :set="sets[0]" class="wyjcontainer_H border_B padding_V"></buttonlist>
        <pagenation :hook="hooks[1]" :set="listMain" api="role" hasToolbar="Api">
            <template #toolbar="postData">
                <input placeholder="请输入角色名称" v-model="postData.queryKeys.key" />
            </template>
            <template #td="models">
                <td>{{models.model.Id}}</td>
                <td>{{models.model.Name}}</td>
                <td>{{models.model.Powers}}</td>
                <td>{{models.model.ModelType}}</td>
                <td>
                    <a v-for="btn in icons" :class="btn.class" @@click="btn.act(models.model)"><i class="icon icon-lg icon-trash"></i>{{btn.text}}</a>
                </td>
            </template>
        </pagenation>
    </div>
    <div v-show="!active" class="exclusive wyjcontainer_V">
        <buttonlist :hook="hooks[2]" :set="sets[1]" class="wyjcontainer_HL hr padding_V">
        </buttonlist>
        <editor :hook="hooks[3]" :set="labels">
            <template v-if="viewMode" #ele>
                <div class="formGroup_ele" v-for="(y,x) in labels">{{model[x]}}</div>
            </template>
            <template v-else #ele="slotProps">
                <input class="formGroup_ele" v-model="model.Name" placeholder="请输入角色名称" />
                <input class="formGroup_ele" v-model="model.Powers" placeholder="请输入角色权限" />
            </template>
            <template #subtmpl>
            </template>
        </editor>
        <buttonlist :hook="hooks[4]" :set="sets[2]" class="wyjcontainer_HM"></buttonlist>
    </div>
</div>

@section foot {
    <script type="text/javascript">
        var app = new App({
            Api: 'role',
            listMain: {
                titles: ["ID", "角色名称", "角色权限", "角色类型", "操作"]
            },
            PageTitles: ['管理角色', '新增角色', '编辑角色', '查看角色'],
            icons: [{
                class: "text_danger",
                text: "删除",
                act: (e, i) => {
                    app.DeleteById(e.Id, i)
                }
            }, {
                class: "text_primary",
                text: "编辑",
                act: (e) => {
                    app.Switch(2, e);
                }
            }, {
                class: "text_primary",
                text: "查看",
                act: (e) => {
                    app.Switch(3, e);
                }
            }],
            labels: {
                Name: '角色名称',
                Powers: '角色权限'
            },
        });
    </script>
}