<div class="form">
    <div class="form-group">
        <div class="form__label">
            <span class="required"></span>旧密码:
        </div>
        <div class="form__element">
            <input type="password" id="OldPwd" class="form__input validate[required]" />
        </div>
        <div class="form__tips">

        </div>
    </div>
    <div class="form-group">
        <div class="form__label">
            <span class="required"></span>新密码:
        </div>
        <div class="form__element active">
            <input type="password" id="NewPwd" class="form__input validate[required]" />
        </div>
        <div class="form__tips">
        </div>

    </div>
    <div class="form-group">
        <div class="form__label">
            <span class="required"></span>重复密码:
        </div>
        <div class="form__element active">
            <input type="password" id="RptPwd" class="form__input validate[required,confirm[NewPwd]]" />
        </div>
        <div class="form__tips">
        </div>
    </div>
</div>