<div class="info-desc">
    <div class="title">导入数据步骤说明</div>
    <div class="desc__text">
        <p>1.首先请下载导入表格模板。</p>
        <div class="upload-list upload-list_pic">
            <div class="upload__item">
                <div class="upload__bd">
                    <a href="{{>href}}" target="_blank" class="upload__name">{{>name}}</a>
                </div>
                <div class="upload__ft">
                    <a class="text_info" target="_blank" href="{{>href}}">下载</a>
                </div>
            </div>
        </div>
        <p>2.下载表格后，请在表格内容填写必要信息。</p>
        <p>3.信息填好后，点击下面的“导入数据”按钮，将填写的表格选择导入即可。</p>
        <p>4.点击右上角叉号可关闭此弹窗。</p>
    </div>
    <div class="btn-operate">
        <div class="btn-group">
            <button class="btn btn_warning">
                <div id="btnImport"></div>
            </button>
        </div>
    </div>
    <div class="import__tips" id="Tips">
    </div>
</div>